{% extends "AdminBundle:Admin:base.html.twig" %}
{% block title %}{{ parent() }} > {{ tag.nom }}{% endblock %}
{% block body %}
<h1>Artistes {{tag.nom }}</h1>


{% for artiste in  artistes %}

{% include "AdminBundle:Default:extrait_fiche.html.twig" with{'lien' : true} %}

{% endfor %}

{% endblock %}
