
html {
    overflow-y: scroll;
}
* {
    margin: 0;
}
body {
    background: #fff;
    height: 100%;
}
.mybody {
    min-height: 100%;
    margin: 0 auto;
    padding: 25px 20px;
    max-width: 1140px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

}
#header {
 background: #000 none repeat scroll 0 0;
 height: 60px;
 padding: 20px 0 10px;
 text-align: center;
}
nav {
    margin: 0 auto;
    text-align: left;
    max-width: 1140px;
}
h1 {
    text-align: center;
}
nav a, nav a:visited, #header a {
    color: white;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    margin-right: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
}
nav a:hover {
    text-decoration: underline;
    border-bottom: 3px solid red;
}
a img:hover {
    opacity: 0.5;
}
#header > a {
    font-size: 25px;
    width: 100%;
}
#fil-ariane {
    font-size: 12px;
}
#fil-ariane a, #fil-ariane a:visited {
    color: black;
}
.content {
    margin-top: 25px;
}
.content a {
    color: black;
    text-decoration: none;
}
.content a:hover {
    color: black;
    text-decoration: underline;
}
.fiche-extrait a {
    color: #505050;
}
.fiche-extrait a:hover {
    color: black;
    text-decoration: underline;
}
.fiche-extrait {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px 5px;
    padding: 10px 20px 0;
}
h3, h1 {
    margin-bottom: 10px;
}
.fiche-extrait .gauche {
    max-width: 550px;
}
.fiche-extrait .droite {
    max-width: 285px;
}
img.image-artiste {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 250px;
}
.nom {
    text-align: center;
}
.date {
    font-size: 14px;
    font-weight: normal;
}
.fiche-extrait div {
    margin-bottom: 5px;
}
.gauche {
    float: left;
}
.droite {
    float: right;
}
.clearer {
    clear: both;
    height: 0;
}
.album {
    display: inline-block;
}
.album .titre {
    text-align: center;
    width: 100%;
}
.chansons {
    padding: 5px 0 20px 10px;
}

.nav-sidebar > li.active > a{
    
   background-color: #428bca;
    color: #fff;
}